body{


	background-color: black;
	margin: 0;
}


.square{


	background-color: red;
	width: 30%;
	float: left;
	margin: 1.66%;
	height: 180px;
	border-radius: 30px;
	transition: background 0.6s;
}

#container{


	max-width: 600px;
	margin: auto;
}

h1{
	margin: 0;
	background-color: #00ff00;
	text-align: center;
	padding: 20px;
	color: white;
	line-height: 1.2;
	
	border-bottom: black solid 2px;
}


#stripe{

	background-color: white;
	margin-bottom: 10px;
	height: 30px;
	text-align: center;


}

#resultdisplay{

display: inline-block;
width: 20%;
}


button{


background: none;
border: none;
height: 100%;
font-weight: bolder;

}

button:hover{

	background: #150eea;
	color: white;
}

.selected{


	background-color: #150eea;
	color: white;
}

#textdisplay{

	font-size: 200%;


	}


